<link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<body>
<div class="catalog">
    <div  id = "category">
    <ul class ="cate"> 
    <ng-container >
      <div *ngFor="let c of categories" >
        <button class="cat_title" (click)="ChangeStatus(c)">{{c.title}}</button> 
      </div>
    </ng-container>
    </ul>
   </div> 
   <div class= "container">
       
   <div class="row"> 
    <ng-container *ngIf="!IsCatalog" > 
      <div *ngFor="let f of products" >
        <div class="col-md-3">    
          <div class="product-top" >
          <img src="{{f.image}}" alt="Photo Of This Catalog" class ="food_img" width = 260>
          <div class = "product-bottom text-center">
          <h4 class = "meal_title" >{{f.title}}</h4>
          <p class = "meal_des">{{f.description}}</p>
        </div>
          <a class="detail" routerLink="/product/{{f.id}}">See Details</a>        
      </div>
    </div> 
    </div> 
      <button (click)="ChangeStatus(f)" class="button_back">Back</button>
    </ng-container>
  </div>

</div>

  </div>
</body>
<!-- <body>
<div class="all">
    <div  id = "category">
    <ul class ="cate"> 
        <ng-container *ngIf="IsCatalog">
      <li *ngFor="let c of categories" class= "cate">
        <button class="cat_title" (click)="ChangeStatus(c)">{{c.title}}</button>
      </li>
    </ng-container>
    </ul>
    </div>
    <ng-container *ngIf="!IsCatalog">
            <ul *ngIf="products.length">
                <li *ngFor = "let product of products">
                    {{product.id}} {{product.title}}
                    <img width=260, *ngIf="product.image" [src]="product.image" [alt]="photo.name">
                </li>            
            </ul>
        <button (click)="ChangeStatus(foodscatalog)">Go Back To Catalog</button>
      </ng-container> -->
    <!-- <ul class= "food">  
        <ng-container *ngIf="!IsCatalog" >    
        <li *ngFor="let product of products" class= "meal">
            <img class ="food_img" width = 260, src={{product.image}} alt="food image">
            <h4 class = "meal_title" >{{product.title}}</h4>
            <p class = "meal_des">{{product.description}}</p>
            <a class="detail" routerLink="/foods/{{foods.id}}">See Details</a>
        </li>
    </ng-container>
    </ul> -->



<!-- </div>
</body> -->
<!-- <body>
<div  id = "category">
<ul class ="cate"> 
    <li *ngFor="let category of categories" class= "cate">
        <a class="cat_title" routerLink="/categories/{{category.id}}/product" >{{category.title}}</a>
    </li>
</ul>
</div>
<div id="foodcont">   
    <ul class= "food">
    <li *ngFor="let food of foods" class= "meal">
        <img class ="food_img" width = 260, src={{food.image}} alt="food image">
        <h4 class = "meal_title" >{{food.title}}</h4>
        <p class = "meal_des">{{food.description}}</p>
        <a class="detail" routerLink="/foods/{{foods.id}}">See Details</a>
    </li>
</ul>

</div>  
</body> -->

