.main-area {
    padding-top: 74px;
    padding-right: 30px;
    padding-left: 40px;
    height: 740px;
    width: 1418px;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    text-align: center;
}

.main-area h1 {
    color: rgb(35, 65, 21);
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.main-area p {
    color: rgb(27, 34, 10);
    font-size: 20px;
    font-weight: bold;
}