* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

header {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(55, 139, 55);
    height: 72px;
    border-bottom: 1px solid rgb(21, 13, 16);
}

.health-logo {
    display: inline-block;
    margin-top: 2px;
    margin-left: 10px;
}

.health-logo a {
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.side-buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
    float: right;
}

.side-buttons input {
    padding-left: 12px;
    height: 35px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 0px;
}

.side-buttons a {
    background-color: rgb(122, 252, 129);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    border: 0.5px solid rgb(187, 180, 172);
    text-decoration: none;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 17px;
    line-height: 21px;
    margin-top: 2px;
    margin-left: 15px;
}

.side-buttons a:hover {
    background-color: rgb(39, 29, 40);
    cursor: pointer;
}

::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: rgb(61, 68, 86);
}