<footer>
  <div class="lower-navigation">
    <nav>
      <ul>
        <a href="/about"><li>About us</li></a>
        <a href="#"><li>Help</li></a>
        <a href="#"><li>Api</li></a>
        <a href="#"><li>Jobs</li></a>
        <a href="#"><li>Terms</li></a>
        <a href="#"><li>Language</li></a>
      </ul>
    </nav>
    <p class="authors">Alim Khamraev</p>
    <p class="authors">Ayazhan Utemurat</p>
    <p class="authors">Turganbaeva Nurai</p>
    <p class="copyright">@ 2021 Healty Food Delivery.</p>
  </div>
</footer>