<div id="account-info">
	<div class="block-title">Account info</div>
	<div class="content-block">
		<div *ngIf="loaded" id="inner-block">

			<div id="info-field">
				<div id="balance-value">Subscription days: 32</div>
				<button routerLink="/payment" id="prolongation">Extend</button>
			</div>

			<br>

			<div class="info-field">
				<div class="field-title">Name</div>
				<div class="field-value">Alim Khamrayev</div>
			</div>
			<div class="info-field">
				<div class="field-title">Email</div>
				<div class="field-value">demo@gmail.com</div>
			</div>
			<div class="info-field">
				<div class="field-title">Address</div>
				<div class="field-value">Almaty city</div>
			</div>
			<div class="info-field">
				<div class="field-title">Phone</div>
				<div class="field-value">+75558885588</div>
			</div>

			<br><hr>

			<div id="description">Here you can create, read, update and delete addtional info abour your allergies and wishes! We will consider it :)</div>

			<br>

			<input type="text" placeholder="Write new info, which we should consider" id="input-field">
			<button id="add-button">Add</button>

			<div *ngIf="loaded" class="wishes-list">
			  	<div *ngFor="let wish of wishes" class="wish-item">
			    	<input type="text" class="wish-text" [ngModel]="wish">
			    	<button class="delete-button">X</button>
			  	</div>
			</div>

			<button class="save-button">Save changes</button>
		</div>
		<p *ngIf="!loaded">Loading additional info list...</p>
	</div>
</div>
